body {
    font-family: 'Times New Roman'; 
}

#page {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
}

#profile {
    display: flex !important; 
    align-items: center !important;
    justify-content: flex-start !important; 
    gap: 20px !important;
}

.text {
    flex: 1 !important; 
}

.image {
    width: 25% !important; 
    display: flex !important;
}

.image img {
    max-width: 100% !important; 
    height: auto !important;
    border-radius: 10px !important; 
}



#introduction p {
    font-size: 30px;
    text-align: justify;
}


#miscellaneous li {
    font-size: 30px;
    text-align: justify;
}


#news li {
    font-size: 25px;
    text-align: left;
    line-height: 1.8;
}


#cvModal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    padding: 20px;
}

#cvModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 80%; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto; 
}


#cvModal .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

iframe {
    display: block; 
    width: 100%; 
    height: 85%; 
    border: none; 
}

#flagCounter {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000; 
}